<head>

    <title>Add Movie</title>

</head>
<div xmlns:th="http://www.thymeleaf.org">
    <div>
        <div>
            <div>
                <form th:action="@{/movies/add}" th:method="POST">
                    <input type="hidden" name="id" id="id"
                           th:value="(${movie} != null ? ${movie.getId()} : 0)">
                    <div>
                        <label for="title">Movie name</label>
                        <input type="text"
                               id="title"
                               name="title"
                               th:value="(${movie} != null ? ${movie.getTitle()} : '')"
                               required
                               placeholder="Enter movie title">
                    </div>
                    <div >
                        <label for="summary">Summary</label>
                        <input type="text"
                               id="summary"
                               name="summary"
                               th:value="(${movie} != null ? ${movie.getSummary()} : '')"
                               placeholder="Summary">
                    </div>
                    <div >
                        <label for="rating">Rating</label>
                        <input type="text"
                               id="rating"
                               name="rating"
                               th:value="(${movie} != null ? ${movie.getRating()} : '')"
                               placeholder="rating">

                    </div>
                    <div >
                        <label>Production</label>
                        <label for="product">
                            <select id="product" name="productions">
                                <option th:if="${movie} != null"
                                        th:selected="${movie.getProduction() != null &&
                                    movie.getProduction().getId() == prod.getId()}"
                                        th:each="prod : ${productions}"
                                        th:value="${prod.getId()}"
                                        th:text="${prod.getName()}">
                                </option>
                                <option th:if="${movie} == null"
                                        th:each="prod : ${productions}"
                                        th:value="${prod.getId()}"
                                        th:text="${prod.getName()}">
                                </option>
                            </select>
                        </label>
                    </div>
                    <button id="submit" type="submit">Submit</button>
                    <a type="button" href="/movies">Back</a>
                </form>
            </div>
        </div>
    </div>
</div>