<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ordered Ticket - Confirmation</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
        table {
            width:100%;
        }
        table, td, th {
            border: 1px solid black;
            padding: 3px 2px;
        }
    </style>
</head>
<body>
<section>
    <header>
        <h1>Movie Order page - Order confirmation </h1>
    </header>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>
        <tr>
            <td><b>Client Name </b></td>
            <td th:text="${ticket.getClientName()}"></td>
        </tr>
        <tr>
            <td><b>Client IP Address</b></td>
            <td th:text="${ticket.getClientAddress()}"></td>
        </tr>
        <tr>
            <td><b>Ticket for Movie</b></td>
            <td th:text="${ticket.getMovieTitle()}"></td>
        </tr>
        <tr>
            <td><b>Number of tickets:</b></td>
            <td th:text="${ticket.getNumberOfTickets()}"></td>
        </tr>
    </table>
</section>
<form th:method="get" th:action="@{/movies}">
    <input type="submit" value="Back to home">
</form>
<div>
    <h2>Choose movie:</h2>
    <ul th:each="order : ${orders}">
        <p th:value="${order.getMovieTitle()}" th:text="'Title: '+ ${order.getMovieTitle()} + ', Rating: ' +${order.getRating()}+ ', Tickets Bought: ' +${order.getNumberOfTickets()}"></p>
        <form th:method="post" th:action="@{/movies/editRating/{id} (id=${order.getMovieId()})}">
            <input type="number" name="newRating" min="0.0" max="5.0" step="0.1">
            <button type="submit">Edit Rating</button>
        </form>
    </ul>
</div>
</body>
</html>